table{
    text-align: center;}

caption{
    background-color: #8ff8f8;
}
    .Dia{
        background-color: #ffab2c;
    }
.H{
    background-color: #ffab2c;
}

.IP{
    background-color: #fae06d;

}
.BD{
    background-color: #a06be8;
}
.P{
    background-color: #f8b88f;
}

.SI{
    background-color: #abec8a;
}
.PR{
    background-color: #ff5757;
}
.ED{
    background-color: #add8e6;
}
.LLM{
    background-color: #ff8b43;
}
.ING{
    background-color: #6be8b8;
}
.TUT{
    background-color: #eea9d2;
}
.PI{
    background-color: #618c50;
}
.C{
    background-color: #009bff;
}
